{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div class="text-center">
    <h2>Bienvenidos a la Universitaria de Colombia</h2>
    <h1>Santiago Ariza</h1>
    <p>This is a simple Flask application with HTML, CSS, and JavaScript.</p>
    <button id="myButton">Click Me!</button>
    <p>Explora nuestras sedes, misión y visión.</p>
    <a href="{{ url_for('sedes') }}" class="btn btn-primary">Agregar Sede</a>
    <a href="{{ url_for('listasedes') }}" class="btn btn-secondary">Ver Listado</a>
</div>
{% endblock %}

    

  



