{% extends 'base.html' %}

{% block title %}Listado de Sedes{% endblock %}

{% block content %}
<br>
<h2>Nuestras Sedes - Santiago Ariza</h2>
<br><br>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Código Sede</th>
            <th>Descripción de la Sede</th>
            <th>Dirección de la Sede</th>
        </tr>
    </thead>
    <tbody>
        {% for sede in sedes %}
        <tr>
            <td>{{ sede.codsede }}</td>
            <td>{{ sede.nombresede }}</td>
            <td>{{ sede.dirsede }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
